.pageHeader {
    text-align: center;
}





.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.shop {
    border: 1px dotted rgb(115, 140, 141);
    padding: 1em;
    flex-basis: 30%;
    text-align: center;
}